

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Total Confirmed</h5>  
              <h1 class="card-title">{{totalConfirmed}}</h1>    
            </div>
          </div>
        </div>
        
       <hr>
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Total Recovered</h5>  
            <h1 class="card-title">{{totalRecovered}}</h1>     
          </div>
        </div>
        </div>
       <hr>
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Total Deaths</h5> 
            <h1 class="card-title">{{totalDeaths}}</h1>      
          </div>
        </div>
        </div>
       <hr>
       <div class="col-md-3">
       <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total Active</h5> 
          <h1 class="card-title">{{totalActive}}</h1>      
        </div>
      </div>
      </div>
      </div>
     
    </div>
  