
<div class="limiter">
    <div class="container-table100">
        <a href="/" class="btn btn-secondary"> <i class="fas fa-arrow-circle-left"></i> Go Back</a>
        <div class="container" style="animation-delay: 3s; ">
            <div class="row">
                <div class="col-md-3">
                    <h5>Confirmed</h5>
                    <h4 class="text-warning">[+{{DailyStatus.total.confirmed}}]</h4>
                    <h1>{{statewisecase.confirmed}} </h1>
                </div>
                <div class="col-md-3">
                    <h5 class="heading ">Active</h5>
                    <h4 class="text-white">[+{{DailyStatus.total.active}}]</h4>
                    <h1 class="title has-text-info ">{{statewisecase.active}}</h1>
                </div>
                <div class="col-md-3">
                    <h5 class="heading ">Recovered</h5>
                    <h4  class="text-white">[+{{DailyStatus.total.recovered}}]</h4>
                    <h1 class="title has-text-success ">{{statewisecase.recovered}} </h1>
                </div>
                <div class="col-md-3">
                    <h5 class="heading ">Death</h5>
                    <h4  class="text-warning">[+{{DailyStatus.total.deaths}}]</h4>
                    <h1 class="title has-text-grey ">{{statewisecase.deaths}}</h1>
                </div>
                <div class="pt-5">
                    <h5 class="affected-count fadeInUp " style="animation-delay: 1s; ">28 States/UTS Affected</h5>
              </div>
            </div>

        </div>

       
     
<div class="wrap-table100">
    <div class="table100">
        <table style="animation-delay: 1s; ">
            <thead>
                <tr class="table100-head">
                    <th (click)="sortAscending(sortedDataBasedOnDate) " class="column1 text-center">
                        <div class="heading-content "><abbr title="State ">State/UT</abbr>
                            <div class="" [ngClass]=" { 'downarrow':showArrows.downarrowState , 'up-arrow' : showArrows.uparrowState} "></div>
                        </div>
                    </th>
                    <th (click)="sortByMaxCases(sortedDataBasedOnDate) " class="column2 text-center">
                        <div class="heading-content "><abbr class="confirmed " title="Confirmed ">Confirm</abbr>
                            <div class="" [ngClass]=" { 'downarrow':showArrows.downarrowConfirmed , 'up-arrow' : showArrows.uparrowowConfirmed} "></div>
                        </div>
                    </th>
                    <th (click)="sortByMaxActive(sortedDataBasedOnDate) " class="column3 text-center">
                        <div class="heading-content "><abbr class="active-cases " title="Active ">Active</abbr>
                            <div class="" [ngClass]=" { 'downarrow':showArrows.downarrowActive , 'up-arrow' : showArrows.uparrowActive} "></div>
                        </div>
                    </th>
                    <th (click)="sortByMaxRecovered(sortedDataBasedOnDate) " class="column4 text-center">
                        <div class="heading-content "><abbr class=" recovered" title="Recovered ">Recover</abbr>
                            <div class="" [ngClass]=" { 'downarrow':showArrows.downarrowRecovered , 'up-arrow' : showArrows.uparrowRecovered} "></div>

                        </div>
                    </th>
                    <th (click)="sortByMaxDeath(sortedDataBasedOnDate) " class="column5 text-center">
                        <div class="heading-content "><abbr class="death" title="Deaths ">Death</abbr>
                            <div class="" [ngClass]=" { 'downarrow':showArrows.downarrowDeath , 'up-arrow' : showArrows.uparrowDeath} "></div>
                        </div>
                    </th>
                    <th class="column6 text-center">Last Update</th>
                </tr>
            </thead>


            <tbody *ngFor="let data of statewisedata;let i=index ">
                <span class="dropdown rotateDownRight "><svg xmlns="http://www.w3.org/2000/svg " width="24 " height="24 " viewBox="0 0 24 24 " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round
                        "><polyline points="6 9 12 15 18 9 "></polyline></svg></span>

                <tr>
                    <td (click)="OngetState(data.state); showHideData(data) " class="column1">{{data.state}}</td>




                    <td class="column2">

                        <span *ngIf='DailystateStatus[i].confirmed !==0 && DailystateStatus[i].confirmed > 0 ;' class="deltas " style="color: rgb(255, 7, 58); "><svg xmlns="http://www.w3.org/2000/svg " width="24 " height="24 " viewBox="0 0 24 24
                        " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round "><line x1="12 " y1="19 " x2="12 " y2="5 "></line><polyline points="5 12 12 5 19 12 "></polyline>
                                </svg>    {{DailystateStatus[i].confirmed}}</span> {{data.confirmed}}
                    </td>


                    <td class="column3 text-center">{{data.active}}</td>
                    <td class="column4 text-center">{{data.recovered}}</td>
                    <td class="column5 text-center">{{data.deaths}}</td>
                    <td class="column5 text-center">
                        <div class="last-update col-md-5 align-center">
                        
                            <p class="difference-time" style=" color: #0bb332fa; font-weight: 600; " *ngIf='lastupdated.hour==0; else elseBlock'> {{lastupdated.minute}} minutes </p>
                            <ng-template #elseBlock>{{lastupdated.hour}} hour {{lastupdated.minute}} minutes ago</ng-template>
                           
                        </div>
                    </td>

                </tr>


                <tr class="nohover" app-district *ngIf="data[ 'show'] "></tr>

            </tbody>

        </table>

        </div>
        </div>
       


